<?xml version="1.0" ?>

<launch>
	<node name="gelatin_visualization_node" pkg="pbb_visualization" type="gelatin_marker" />
	<node name="start_marker_node" pkg="pbb_visualization" type="marker_node" />
	<node name="goal_marker_node" pkg="pbb_visualization" type="goal_marker" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find pbb_visualization)/launch/rviz_config.rviz" required="true" />
</launch>